# 3.11 向量化字符串操作

## 3.11.1 Pandas字符串操作简介

In [1]:
import numpy as np

In [2]:
x = np.array([2, 3, 5, 7, 11, 13])

In [3]:
x

array([ 2,  3,  5,  7, 11, 13])

In [4]:
x * 2

array([ 4,  6, 10, 14, 22, 26])

In [5]:
data = ['peter', 'Paul', 'MARy', 'gUIDO']

In [6]:
[s.capitalize() for s in data]

['Peter', 'Paul', 'Mary', 'Guido']

In [8]:
data = data + [None]

In [9]:
data

['peter', 'Paul', 'MARy', 'gUIDO', None]

In [10]:
[s.capitalize() for s in data]

AttributeError: 'NoneType' object has no attribute 'capitalize'

In [11]:
import pandas as pd

In [12]:
names = pd.Series(data)

In [13]:
names

0    peter
1     Paul
2     MARy
3    gUIDO
4     None
dtype: object

In [15]:
names.str.capitalize()

0    Peter
1     Paul
2     Mary
3    Guido
4     None
dtype: object

In [17]:
names.str.isnumeric()

0    False
1    False
2    False
3    False
4     None
dtype: object

## 3.11.2 Pandas字符串方法列表

In [18]:
monte = pd.Series(['Graham Chapman', 'John Cleese', 'Terry Gilliam', 'Eric Idle', 'Terry Jones', 'Michael Palin'])

1. 与Python字符串方法相似的方法

In [24]:
monte

0    Graham Chapman
1       John Cleese
2     Terry Gilliam
3         Eric Idle
4       Terry Jones
5     Michael Palin
dtype: object

In [20]:
monte.str.lower()

0    graham chapman
1       john cleese
2     terry gilliam
3         eric idle
4       terry jones
5     michael palin
dtype: object

In [21]:
monte.str.len()

0    14
1    11
2    13
3     9
4    11
5    13
dtype: int64

In [22]:
monte.str.startswith('T')

0    False
1    False
2     True
3    False
4     True
5    False
dtype: bool

In [23]:
monte.str.split()

0    [Graham, Chapman]
1       [John, Cleese]
2     [Terry, Gilliam]
3         [Eric, Idle]
4       [Terry, Jones]
5     [Michael, Palin]
dtype: object